<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">

                            <!-- Заготовка -->
    <class name="ЗаготовкаТелеграм" file="src/Заготовки/ЗаготовкаТелеграм.os"/>

                            <!-- Аннотации -->
    <class name="ХранительНавыков" file="src/Классы/Аннотации/ХранительНавыков.os"/>
    <class name="ХранительСобытий" file="src/Классы/Аннотации/ХранительСобытий.os"/>
    <class name="ОбъектТелеграм" file="src/Классы/Аннотации/ОбъектТелеграм.os"/>

                            <!-- Объекты -->
    <class name="ВходящееСообщение" file="src/Классы/ОбъектыТелеграм/ВходящееСообщение.os"/>
    <class name="ИсходящееСообщение" file="src/Классы/ОбъектыТелеграм/ИсходящееСообщение.os"/>
    <class name="Клавиатура" file="src/Классы/ОбъектыТелеграм/Клавиатура.os"/>
    <class name="Пользователь" file="src/Классы/ОбъектыТелеграм/Пользователь.os"/>
    <class name="Сообщение" file="src/Классы/ОбъектыТелеграм/Сообщение.os"/>
    <class name="Чат" file="src/Классы/ОбъектыТелеграм/Чат.os"/>

                            <!-- Оркестраторы -->
    <class name="ОркестраторНавыков" file="src/Классы/Ядро/ОркестраторНавыков.os"/>
    <class name="ОркестраторСобытий" file="src/Классы/Ядро/ОркестраторСобытий.os"/>

                            <!-- Технические навыки -->
    <class name="Бот" file="src/Классы/ТехническиеНавыки/Бот.os"/>
    <class name="ВебХук" file="src/Классы/ТехническиеНавыки/ВебХук.os"/>
    <class name="ОтправкаСообщений" file="src/Классы/ТехническиеНавыки/ОтправкаСообщений.os"/>

                            <!-- Ядро -->
    <class name="Почтальон" file="src/Классы/Ядро/Почтальон.os"/>
    <class name="РогаткаБота" file="src/Классы/Ядро/РогаткаБота.os"/>
    <class name="НастройкиТелеграм" file="src/Классы/Ядро/НастройкиТелеграм.os"/>
    <class name="ОбработчикВходящегоСообщения" file="src/Классы/Ядро/ОбработчикВходящегоСообщения.os"/>

</package-def>